<!DOCTYPE html>
<html>
    <head>
        <Title>Go Gaga App</Title>
       <link rel='stylesheet' type='text/css' href='./css/friendlist.css'/>
    </head>

    <body>
       <h1 id="friendarr">{{friendlist}}</h1>
       <div id='main'>
        <h1>Hi <span id="userspan">{{username}},  here is your friend list</span></h1>
        <div id="friendlist">
            <ol id='list'>
               
            </ol>
        </div>
    </div>

    <script src="./js/friendlist.js"></script> 
    </body>
</html>
