<!DOCTYPE html>
<html>
    <head>
        <Title>Go Gaga App</Title>
       <link rel='stylesheet' type='text/css' href='./css/friendlist.css'/>
    </head>

    <body>
        <div id='main'>
      <h1>Message: {{message}}</h1>
</div>

    <script src="./js/friendlist.js"></script> 
    </body>
</html>
